html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header__title {
    margin: 0;
}
.header__image {
    max-width: 200px;
    max-height: 100%;
    height: auto;
    margin-left: 20px;
}
.container {
    display: flex;
    flex: 1;
}
.nav {
    width: 200px;
    padding: 10px;
}
.nav__list {
    list-style-type: none;
    padding: 0;
}
.nav__item {
    margin: 10px 0;
}
.main {
    flex: 1;
    padding: 20px;
}
.main__title {
    margin-top: 0;
}
.main__description {
    margin-top: 5px;
}
.main__info {
    margin-top: 5px;
}
.footer {
    background-color: darkgrey;
    padding: 10px;
    text-align: center;
}
.footer__text {
    margin: 0;
}