html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
}
.header {
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header__title {
    margin: 0;
}
.header__image {
    max-width: 200px;
    max-height: 100%;
    height: auto;
    margin-left: 20px;
}
.container {
    display: flex;
    flex: 1;
}
.nav {
    width: 200px;
    padding: 10px;
}
.nav__list {
    list-style-type: none;
    padding: 0;
}
.nav__item {
    margin: 10px 0;
}
.main {
    flex: 1;
    padding: 20px;
}
.main__title {
    margin-top: 0;
}
.main__info {
    margin-top: 5px;
}
.footer {
    background-color: darkgrey;
    padding: 10px;
    text-align: center;
}
.footer__text {
    margin: 0;
}
@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 30px;
    }
    .header__title {
        font-size: 24px;
    }
    .header__image {
        margin: 10px 0 0 0;
        max-width: 100%;
        height: auto;
    }
    .container {
        flex-direction: column;
    }
    .main {
        order: 1;
        padding: 15px;
    }
    .main__info {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 10px;
    }
    .nav {
        order: 2;
        width: 100%;
        padding: 10px 0;
    }
    .nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    .new__item {
        background-color: rgb(41, 41, 41);
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 14px;
        text-align: center;
        flex: 0 1 40%;
    }
    .footer {
        order: 3;
        text-align: center;
        padding: 10px;
        background-color: #474747;
    }
    .footer__text {
        font-size: 12px;
        margin: 0;
    }
}
label[for="breed-select"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
}
#breed-select {
    width: 100%;
    max-width: 300px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(41, 41, 41);
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
#breed-select:hover {}